.imgSize1{
    border-radius: 50%;
}
/* 将图片宽高设为一样的 */
.imgDiv{

    position:relative;
    width:20%;
    height:0;
    padding-top:17%;
    margin:10px 0; 
}
p.imgName{
    text-align: center;
    
}
.imgDiv .imgSize1{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;

}
.flex{
    display: flex;
    flex-wrap: wrap;
    /* width:100%; */
}